body {
  overflow:hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-areas: 
    "header header header"
    "logo title sidebar"
    "logo subtitle sidebar"
    "date date sidebar"
    "footer footer footer";
  grid-template-rows: 60px 90px auto 50px 60px;  
  grid-template-columns: 350px auto 190px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}  
header, footer, article, nav, div {
  padding: 1.2em;
}


.pageHeader {
  background-color: cadetblue;
  grid-area: header;
}
.pageHeader .header__text{
  max-width: 18em;
  max-height: 5px;
  text-align:center;
  margin-left: auto;
  margin-right: 0;
  margin-top: -30px;
  line-height: 8px;
  border: 1px solid rgb(0, 0, 0);
  background: #ffffff;
}


.pageFooter {
  background-color: cadetblue;
  grid-area: footer;
}
.footer__text{
  max-width: 14em;
  max-height: 5px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  margin-top: -30px;
  line-height: 6px;
  border: 1px solid rgb(0, 0, 0);
  background: #ffffff;
}


.Article { 
  background-color: aquamarine;
  grid-area: title;   
  text-align: center;   
  font-size: 150%;
}


.Subarticle { 
  grid-area: subtitle; 
}


.logo { 
  background-color: antiquewhite;
  grid-area:logo;
} 
img{
  display: flex;
  width: 300px;
  height: auto;
  float: left;
  object-fit: contain;
}


.menu { 
  background-color: antiquewhite;
  grid-area:sidebar;
} 
.menu__list a {
  text-align: center;
  background-color: hsl(40, 38%, 55%); 
  color: black; 
  display: inline-block; 
  padding: 12px; 
  text-decoration: none; 
}
.menu__list a.menu__item_active {
  background-color: #e2312b; 
  color: white;
}
li{
  list-style-type: none;
  margin: 10px -25px;
}


.date { 
  background-color: aquamarine;
  grid-area:date;
  text-align: center;
} 